{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    {{ JSGlue.include() }}
    <script type="text/javascript" language="javascript"
            src="{{ url_for('static', filename = 'moment.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/autofill/2.2.2/css/autoFill.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-12 main">
                <div class="panel with-nav-tabs panel-default">
                    <div class="panel-heading text-center">
                        <ul class="nav nav-tabs">
                            {% for platform in PLATFORMS %}
                                <li><a href="#tab{{ platform }}" data-toggle="tab">{{ platform }}</a></li>
                            {% endfor %}
                            <li></li>
                            {% for pillar in PILLARS %}
                                <li><a href="#tab{{ pillar }}" data-toggle="tab">{{ pillar }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            {% for platform in PLATFORMS %}
                                <div class="tab-pane fade" id="tab{{ platform }}">
                                    <table id="lix_detail_table_platform_{{ platform }}"
                                           class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Add to watch list/Name</th>
                                            <th>Pillar</th>
                                            <th>Period</th>
                                            <th>Fully Ramped</th>
                                            <th>Owners</th>
                                            <th>Release Version</th>
                                            <th>Ramp by MP Name</th>
                                            <th>Description</th>
                                            <th>Design Doc</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if latest_lix_detail_records %}
                                            {% for lix in latest_lix_detail_records %}
                                                {% if lix.platform == platform %}
                                                    <tr>
                                                        <td class="details-control">
                                                            {% if user == None %}
                                                                <div class="add_to_watch_list_checkbox_not_login">
                                                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                                                    <a href="{{ lix.url }}"
                                                                       target="_blank">{{ lix.name }}</a>
                                                                </div>
                                                            {% elif lix.stared == 1 %}
                                                                <div class="add_to_watch_list_checkbox">
                                                                    <span class="glyphicon glyphicon-heart"></span>
                                                                    <a href="{{ lix.url }}"
                                                                       target="_blank">{{ lix.name }}</a>
                                                                </div>
                                                            {% else %}
                                                                <div class="add_to_watch_list_checkbox">
                                                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                                                    <a href="{{ lix.url }}"
                                                                       target="_blank">{{ lix.name }}</a>
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td class="details-control">{{ lix.pillar }}</td>
                                                        <td class="details-control">{{ lix.period }}</td>
                                                        <td class="details-control">{{ lix.fully_ramped }}</td>
                                                        <td class="details-control">{{ lix.owners }}</td>
                                                        <td class="details-control">{{ lix.merged_version }}</td>
                                                        <td class="details-control">{{ lix.ramped_by_mpname }}</td>
                                                        <td class="details-control">{{ lix.description }}</td>
                                                        <td class="details-control">
                                                            {% if lix.spec_url and lix.spec_url != 'Not specific' and lix.spec_url != "http://www.linkedin.com/" %}
                                                                <a class="btn btn-primary" href="{{ lix.spec_url }}"
                                                                   role="button" target="_blank">Design Doc</a>
                                                            {% else %}
                                                                N/A
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                            {% for pillar in PILLARS %}
                                <div class="tab-pane fade" id="tab{{ pillar }}">
                                    <table id="lix_detail_table_pillar_{{ pillar }}"
                                           class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Add to watch list/Name</th>
                                            <th>Platform</th>
                                            <th>Period</th>
                                            <th>Fully Ramped</th>
                                            <th>Owners</th>
                                            <th>Release Version</th>
                                            <th>Ramp by MP Name</th>
                                            <th>Description</th>
                                            <th>Design Doc</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if latest_lix_detail_records %}
                                            {% for lix in latest_lix_detail_records %}
                                                {% if lix.pillar == pillar %}
                                                    <tr>
                                                        <td class="details-control">
                                                            {% if user == None %}
                                                                <div class="add_to_watch_list_checkbox_not_login">
                                                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                                                    <a href="{{ lix.url }}"
                                                                       target="_blank">{{ lix.name }}</a>
                                                                </div>
                                                            {% elif lix.stared == 1 %}
                                                                <div class="add_to_watch_list_checkbox">
                                                                    <span class="glyphicon glyphicon-heart"></span>
                                                                    <a href="{{ lix.url }}"
                                                                       target="_blank">{{ lix.name }}</a>
                                                                </div>
                                                            {% else %}
                                                                <div class="add_to_watch_list_checkbox">
                                                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                                                    <a href="{{ lix.url }}"
                                                                       target="_blank">{{ lix.name }}</a>
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td class="details-control">{{ lix.platform }}</td>
                                                        <td class="details-control">{{ lix.period }}</td>
                                                        <td class="details-control">{{ lix.fully_ramped }}</td>
                                                        <td class="details-control">{{ lix.owners }}</td>
                                                        <td class="details-control">{{ lix.merged_version }}</td>
                                                        <td class="details-control">{{ lix.ramped_by_mpname }}</td>
                                                        <td class="details-control">{{ lix.description }}</td>
                                                        <td class="details-control">
                                                            {% if lix.spec_url and lix.spec_url != 'Not specific' and lix.spec_url != "http://www.linkedin.com/" %}
                                                                <a class="btn btn-primary" href="{{ lix.spec_url }}"
                                                                   role="button" target="_blank">Design Doc</a>
                                                            {% else %}
                                                                N/A
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript" language="javascript"
            src="{{ url_for('static', filename = 'voyagernewlyintroduced.js') }}"></script>
{% endblock %}
