{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h2>Navigation</h2>
            <dl>
                <dt>Statistic</dt>
                <dd>Display the statistic information of the lix usage as of the time when the lix information was collected</dd>
                <dt>Details</dt>
                <dd>Display the detailed information of each lix item</dd>
                <dt>Rampstatus</dt>
                <dd>Display the ramp status of each lix item</dd>
                <dt>Snapshot</dt>
                <dd>Display the lix dashboard snapshot of a particular date</dd>
            </dl>
        </div>
        <div class="row">
            <h2>Filterring</h2>
            <dl>
                <dt>Statistic</dt>
                <dd>Clicking any cell will lead to the details page. Eg., Android feed has 15 lix items fully ramped less than 10 days. By clicking that '15', all the 15 lix items will show up in the details page.</dd>
                <dt>Details</dt>
                <dd>The left side filter checkboxes bar provides an easy way to filter which lix items you would like to see on the page. By clicking the 'Filter Lix Items' button, the page will refresh and only show the lix items match the filter queries.</dd>
                <dt>Rampstatus</dt>
                <dd>The left side filter checkboxes bar provides an easy way to filter which lix items you would like to see on the page. By clicking the 'Filter Lix Items' button, the page will refresh and only show the lix items match the filter queries.</dd>
                <dt>Snapshot</dt>
                <dd>Check to see previous data. Use '?today=YYYY-MM-DD' to specify which day's snapshot you would like to check.</dd>
            </dl>
        </div>
        <div class="row">
            <h2>API</h2>
            <dl>
                <dt>Update pillar information</dt>
                <dd>curl --data "platform=[Web/API/iOS/Android]&lix_name=[the name of the lix you want to update pillar information]&pillar=[pillar name such as search, profile and etc]" http://lca1-app0465.corp.linkedin.com:2614/api/update_pillar</dd>
            </dl>
        </div>
        <div class="row">
            <h2>LiX Naming Convention</h2>
            <dl>
                <dt>Please follow the convention described in below wiki page</dt>
                <dd><a href="https://iwww.corp.linkedin.com/wiki/cf/display/ENGS/Voyager+(and+Neptune)+Lix+Guide">Voyager (and Neptune) Lix Guide</a></dd>
            </dl>
        </div>
        <div class="row">
            <h2>Runbook</h2>
            <dl>
                <dd>Please go to <a href="http://go/lixreportrunbook">LiX Dashboard Runbook</a> or mail to <a href="mailto:tcheng@linkedin.com">Tao Cheng</a> for detail</dd>
            </dl>
        </div>
    </div>
    <br/>
    <br/>
{% endblock %}

